---
import type { MarkdownInstance } from 'astro';
import type { PostType } from '../types';

import '../styles/block/_works.scss';
import { thumbnailsClassType } from '../scripts/thumbnailsClassType';

export interface Props {
  works: MarkdownInstance<PostType>;
}
const { frontmatter, url } = Astro.props.works;
---

<>
  <li id={frontmatter.id}>
    <a href={url}>
      <div class="bl_works_meta">
        <div class="bl_works_title bl_common_box">
          <p>{frontmatter.title}</p>
        </div><!-- /.bl_works_title -->
        <div
          class:list={[
            'bl_works_thumbnails',
            'el_thumbnails',
            thumbnailsClassType(frontmatter.thumbnailType!),
          ]}
        >
          <img
            src="/image/empty.gif"
            alt=""
            data-src={frontmatter.thumbnail}
            width="255"
            height="240"
            loading="lazy"
          />
        </div><!-- /.bl_works_thumbnails -->
        <div class="bl_works_btnWrap">
          <div
            class="el_btn el_circleBtn el_circleBtn__lightPink bl_works_moreBtn"
          >
            <span>
              <img
                src="/image/empty.gif"
                alt=""
                data-src="/icon/arrow.svg"
                width="20"
                height="20"
                loading="lazy"
              />
            </span>
          </div>
        </div><!-- /.bl_works_btnWrap -->
      </div><!-- /.bl_works_meta -->
      <div class="bl_works_summary">
        <p>{frontmatter.comment}</p>
        <dl>
          <dt>担当領域</dt>
          <dd>{frontmatter.role}</dd>
        </dl>
        <dl>
          <dt>使用技術</dt>
          <dd>{frontmatter.skill}</dd>
        </dl>
      </div><!-- /.bl_works_summary -->
    </a>
  </li>
</>
