---
import '../styles/block/_works.scss';

export interface Props {
  link?: string;
  tmb?: string;
  tmbType?: string;
  title?: string;
  comment?: string;
  skill?: string;
}
const {
  link,
  tmb = '/works/noImg.png',
  tmbType,
  title,
  comment,
  skill,
} = Astro.props;

const thumbnailsTypeClass = (type: string) => {
  switch (type) {
    case 'icon':
      return 'bl_works_thumbnails__icon';
    case 'noImg':
      return 'bl_works_thumbnails__noImg';
    default:
      break;
  }
};
---

<>
  <div class="bl_works_meta">
    <div class="bl_works_title bl_common_box">
      <p>{title}</p>
    </div><!-- /.bl_works_title -->
    <div class:list={['bl_works_thumbnails', thumbnailsTypeClass(tmbType!)]}>
      <img
        src="/img/empty.gif"
        alt=""
        data-src={tmb}
        width="255"
        height="240"
        loading="lazy"
      />
    </div><!-- /.bl_works_thumbnails -->
    <div class="bl_works_btnWrap">
      <a
        href="{link}"
        aria-label="詳細をみる"
        class="el_btn el_circleBtn el_circleBtn__lightPink bl_works_moreBtn"
      >
        <img
          src="/img/empty.gif"
          alt=""
          data-src="/icon/arrow.svg"
          width="20"
          height="20"
          loading="lazy"
        />
      </a>
    </div><!-- /.bl_works_btnWrap -->
  </div><!-- /.bl_works_meta -->
  <div class="bl_works_summary">
    <p>{comment}</p>
    <dl>
      <dt>使用技術</dt>
      <dd>{skill}</dd>
    </dl>
  </div><!-- /.bl_works_summary -->
</>
