---
import type { PostType } from '../types';
import Base from './Base.astro';
import Header from '../components/Header.astro';
import ArchGrid from './grid/ArchGrid.astro';
import FooterPost from '../components/FooterPost.astro';

import '../styles/page/post.scss';

interface Props {
  content: PostType;
}
const { content } = Astro.props;

const displayCheck = (key: string | {}) => {
  if (key === null) {
    return 'is_empty';
  }
  return;
};

import { thumbnailsClassType } from '../scripts/thumbnailsClassType';
---

<Base>
  <Header />
  <main class="ly_main ly_main__post">
    <ArchGrid>
      <div class="bl_post_meta">
        <div
          class:list={[
            'bl_post_thumbnails',
            'el_thumbnails',
            thumbnailsClassType(content.thumbnailType),
          ]}
        >
          <img
            src="/img/empty.gif"
            alt=""
            data-src={content.thumbnail}
            width="255"
            height="240"
            loading="lazy"
          />
        </div><!-- /.bl_post_thumbnails -->

        <div class="bl_post_meta_titleWrap">
          <div class="bl_post_title bl_common_box">
            <p>{content.title}</p>
          </div><!-- /.bl_post_title -->

          <div class:list={['bl_post_github', displayCheck(content.github)]}>
            <a
              href={content.github}
              class="el_btn el_circleBtn el_circleBtn__blue"
              aria-label="GitHub"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <img
                src="/img/empty.gif"
                alt=""
                width="20"
                height="20"
                data-src="/icon/github.svg"
                loading="lazy"
              />
            </a>
          </div><!-- /.bl_post_github -->
        </div><!-- /.bl_post_meta_titleWrap -->
      </div><!-- /.bl_post_meta -->

      <div class="bl_post_contents">
        <div class="bl_post_comment">
          <slot />
        </div><!-- /.bl_post_comment -->

        <div class:list={['bl_post_link', displayCheck(content.link)]}>
          <a
            class="el_btn el_basicBtn"
            href={content.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            サイトをみる
          </a>
        </div><!-- /.bl_post_link -->

        <div class="bl_post_info">
          <dl>
            <dt>使用技術</dt>
            <dd>{content.skill}</dd>
            <dd
              class:list={[
                'bl_post_info_subSkill',
                displayCheck(content.subSkills),
              ]}
            >
              <ul>
                {
                  content.subSkills !== null &&
                    Object.entries(content.subSkills).map(([key, value]) => (
                      <li>
                        {key}
                        <span>:</span>
                        {value}
                      </li>
                    ))
                }
              </ul>
            </dd><!-- /.bl_post_info_subSkill -->
          </dl>
          <dl>
            <dt>制作期間</dt>
            <dd>{content.period}</dd>
          </dl>
          <dl class="bl_post_info_feature">
            <dt>機能</dt>
            <dd>
              <ul>
                {content.feature.map((list: string) => <li>{list}</li>)}
              </ul>
            </dd>
          </dl>
        </div><!-- /.bl_post_info -->

        <div class:list={['bl_post_mockup', displayCheck(content.mockup)]}>
          <div class="bl_post_mockup_pc">
            <img
              src="/img/empty.gif"
              alt="パソコンサイズのスクリーンショット"
              data-src={content.mockup !== null && content.mockup.pc}
              width="311"
              height="222"
              loading="lazy"
            />
          </div><!-- /.bl_post_mockup_pc -->
          <div class="bl_post_mockup_mobile">
            <img
              src="/img/empty.gif"
              alt="スマホサイズのスクリーンショット"
              data-src={content.mockup !== null && content.mockup.mobile}
              width="96"
              height="190"
              loading="lazy"
            />
          </div><!-- /.bl_post_mockup_mobile -->
        </div><!-- /.bl_post_mockup -->
      </div><!-- /.bl_post_contents -->
    </ArchGrid>
  </main><!-- /.ly_main -->
  <FooterPost />
</Base>
